.header {
  background: $head-bg;
  -webkit-box-shadow: 0 0 5px rgba(202, 203, 203, .5);
  -moz-box-shadow: 0 0 5px rgba(202, 203, 204, .5);
}

.header-inner {
  position: relative;
}

@import "headerband";
@import "site-meta";
@import "site-nav";
@import "menu";
