.site-meta {
  margin: 0;
  text-align: $site-meta-text-align;

  +mobile() { text-align: center; }
}

.brand {
  position: relative;
  display: inline-block;
  padding: 0 40px;
  color: $brand-color;
  background: $brand-bg;
  border-bottom: none;
  &:hover { color: $brand-hover-color; }
}

.logo {
  display: inline-block;
  margin-right: 5px;
  line-height: 36px;
  vertical-align: top;
}

.site-title {
  display: inline-block;
  vertical-align: top;
  line-height: 36px;
  font-size: $logo-font-size;
  font-weight: normal;
  font-family: $font-family-logo;
}

.site-subtitle {
  margin-top: 10px;
  font-size: $subtitle-font-size;
  color: $subtitle-color;
}

audio {
  display: none;
  visibility: hidden;
  opacity: 0;
  width: 0;
  height: 0;
}

.bgm {
  display inline-block;
  font-size: 22px;
  position: relative;
  top: -13px;
  left: 20px;
  cursor: pointer;
  background:-moz-linear-gradient(top, #dc6f8f 0%, #7476f7 100%);
  background: -webkit-linear-gradient(top, #dc6f8f 0%,#7476f7 100%);
  background: linear-gradient(to bottom, #dc6f8f 0%,#7476f7 100%);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color:transparent;

  .fa {
    display: inline;
  }
}

.bgm.playing {
  animation: bgm 8s linear infinite;
  -moz-animation: bgm 8s linear infinite;
  -webkit-animation: bgm 8s linear infinite;
  -o-animation: bgm 8s linear infinite;
  animation-play-state:running;
}


.use-motion {
  .brand { opacity: 0; }

  .logo, .site-title, .site-subtitle {
    opacity: 0;
    position: relative;
    top: -10px;
  }
}


@-webkit-keyframes bgm {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
